{% extends 'base.html.twig' %}

{% block body %}
	<div class="content">
		{% for article in articles %}
			<div class="article">
				<p>
					<a href="{{ path('article_show', {id: article.id}) }}">{{ article.name }}</a>
				</p>
				<p class="articleContent">{{ article.content }}</p>
				<div class="articleInfo">
					<span>
						number of comments: {{article.getComments|length}}
					</span>
					<span>date of publication: {{ article.date|date("d.m.y") }}</span>

				</div>
			</div>
		{% endfor %}
	</div>
	<p>
		<a href="{{ path('article_create') }}">Create article</a>
	</p>
{% endblock %}
