{% extends 'base.html.twig' %}

{% block body %}
        {% for article in articles %}
            <div class = "article">
                <p><a href="{{ path('article_show', {id: article.id}) }}">{{ article.name }}</a>
                <p>{{ article.content }}
                <p>{{ article.date|date("d.m.y") }}
            </div>
        {% endfor %}
        <p><a href="{{ path('article_create') }}">Create article</a></p>
{% endblock %}